@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p>I am a senior at Ohio University graduating in December 2020. I have a double major in MIS and business analytics.
    For the summer, I am looking for a internship this summer in a information systems role to get more experience in the field.
    I am hoping to become a business analyst and work my way up to owning my own company.</p>
