@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    68 W Carpenter<br />
    Athens, OH 45701<br />
    <abbr title="phone"></abbr>
    440.238.1406
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ds869415@ohio.edu">ds869415@ohio.edu</a><br />
    
</address>